<html>

<head>
    <title>Event Form Planner</title>
    <link rel="stylesheet" href="../templates/general.css">
</head>

<body>
    <h4>Event Planning</h4>
    <label>
        <span>Name</span>
        <input maxlength="50" size="50" type="text" data-dbname="mutall_users" data-ename="event" name="id">
    </label>
    <span>Description</span>
    <textarea maxlength="200" data-dbname="mutall_users" data-ename="event" name="name" type="text"></textarea>

    <div>
        <span>Start Date:</span>
        <input data-dbname="mutall_users" data-ename="event" name="start_date" type="date">
        <span>End Date:</span>
        <input data-dbname="mutall_users" data-ename="event" name="end_date" type="date">
    </div>

    <fieldset>
        <legend>Is this event contributory?</legend>
        <label>
            <input data-dbname="mutall_users" data-ename="event" name="contributory" value="yes" type="radio"
                onclick="Main.show_panel(true, 'mandatory')" />
            <span>Yes</span>
        </label>
        <fieldset id="mandatory" hidden>
            <legend>Is this contribution mandatory?</legend>
            <label>
                <input data-dbname="mutall_users" data-ename="event" name="mandatory" type="radio"
                    onclick="Main.show_panel(true, 'mand')" />
                <span>Yes</span>
            </label>
            <div id="mand" hidden>
                <span>Amount</span>
                <input data-dbname="mutall_users" data-ename="event" name="amount" type="number" />
            </div>
            <label>
                <input data-dbname="mutall_users" data-ename="event" name="mandatory" type="radio"
                    onclick="Main.show_panel(false, 'mand')" />
                <span>No</span>
            </label>

        </fieldset>
        <label>
            <input data-dbname="mutall_users" data-ename="event" name="contributory" value="no" type="radio"
                onclick="Main.show_panel(false, 'mandatory')" />
            <span>No</span>
        </label>
    </fieldset>


    <fieldset>
        <legend>Should members be informed of this event</legend>
        <label>
            <input data-dbname="mutall_users" data-ename="event" name="sms" type="radio" <!--if yes the message should
                send the description to the users-->
            <span>Yes</span>
        </label>
        <label>
            <input data-dbname="mutall_users" data-ename="event" name="sms" type="radio" />
            <span>No</span>
        </label>

    </fieldset>

    <fieldset id="schedule">
        <legend>Do you want to schedule this event?</legend>
        <label>
            <input data-dbname="mutall_users" data-ename="event" name="scheduler" type="radio" <!- if yes the the
                schdeuler process should take charge-->
            <span>Yes</span>
        </label>
        <div class="scheduler_table" hidden>
            <table style="width: 100%;">
                <tr>
                    <th data-dbname="mutall_users" data-ename="job" data-cname="job.no" type="number">
                        Job.no</th>
                    <th data-dbname="mutall_users" data-ename="job" data-cname="job.message" type="text">
                        Job.message
                    </th>
                    <th data-dbname="mutall_users" data-ename="job" data-cname="Job Recusion" type="">
                        Job.recusion
                    </th>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <input>
                    </td>
                    <td>
                        <button>Schedule</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input>
                    </td>
                    <td>
                        <input>
                    </td>
                    <td>
                        <input>
                    </td>
                </tr>
            </table>
            <button>Add Row</button>
        </div>
        <label>
            <input data-dbname="mutall_users" data-ename="event" name="scheduler" type="radio" />
            <span>No</span>
        </label>
    </fieldset><br>
    <span>Add a scheduler</span>
    <table style="width: 100%;">
        <tr>
            <th>Job No.</th>
            <th>Message</th>
            <th>Recursion</th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td><button>recursion</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <button>Send</button>
    <button>Cancel</button>
    <button id="go" hidden></button>
</body>

</html>