<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="general.css">
    <title>Events firing template</title>
</head>

<body>
    <fieldset>
        <legend>
            Is the event repetitive?
        </legend>
        <label>
            <input type="radio" name="event_type">
            No
        </label>
        <label>
            Start date:
            <input type="date" value="2022-07-03">
        </label>
        <label>
            <input type="radio" name="event_type">
            Yes
            <div>
                <label>
                    Start date
                    <input type="date" value="2022-07-10">
                </label>
                <label>
                    Day of the week:
                    <select>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                </label>

                <label>
                    Set the time:
                    <input type="time">
                </label>
                <label>
                    Month:
                    <input type="month">
                    <label>
                        Day of the Month:
                        <input type="number" max="31">
                    </label>
                </label>

            </div>


        </label>


    </fieldset>
    <button id="save">save</button>
    <button id="go" hidden>go</button>
    <button id="cancel">cancel</button>
</body>

</html>