* {
	font-family: "Montserrat", sans-serif;
	font-family: "Raleway", sans-serif;
	font-size: 14;
	line-height: 1.5rem;
	margin: 5px 5px 5px 5px;
}
/* Style the body */
body {
	display: block;
	height: auto;
}
/* Style the previous message panel */
.previous {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
/*The saved message panel */
.saved_msg {
	background-color: #e2e3e3;
	border-radius: 5px;
}
/* The inputs inside the saved message*/
.saved_msg > input,
.message_info > label > input,
.message_info > label > textarea {
	border: none;
}
/* Information about the message */
.message_info {
	display: flex;
	flex-direction: column;
	width: 40%;
	justify-content: center;
	height: fit-content;
}
/* The previous message panel should not be movable */
#prev_message {
	/* height: 60%; */
	resize: none;
	border: none;
}
/* Style all the text area elements */
textarea {
	width: 100%;
}

/* The details of the previous message sender */
#details {
	font-size: 12px;
	resize: none;
	height: 200px;
	width: 50%;
	background-color: #94d2d6;
}
#details > .detail {
	text-align: center;
	text-decoration: underline;
}
/* Move the div and buttons  */
/*the information button*/
#info {
	border: none;
}
/* The message textarea element */
#message {
	height: 200px;
	width: 98%;
	resize: none;
	overflow-y: auto;
	background-color: #eff2f2;
	border-radius: 3px;
}
/* The message information */
.message_info > label {
	background-color: #e2e3e3;
	border-radius: 5px;
}
/* The contribution div */
#contribution {
	display: flex;
	flex-direction: column;
	width: fit-content;
}
/* Message details */
p > span {
	font-weight: bold;
}
