<html>
    <head>
        <title>Reply Message</title>
        <link rel="stylesheet" href="general.css">
    </head>
    <body>
        <h3>Non-Repetitive</h3>

        <!-- Contribution section 
         This question would be asked if the message pointed to a contribution. -->
        <fieldset >
            <legend>Non Repetitive</legend>
            <label>
                Msg : 
                <input type="number">
            </label>

            <label>
                Start date : 
                <input type="number">
            </label>

        </fieldset>
        <button>Ok</button>
        <button>Cancel</button>
    </body>
</html>