#exclude js files from the commits.
*.js
#exclude individual folders     
metavisuo/
pictures/
documentation/
rentize/
accounting/
carpark/
#chama speciic folders
chama/v/documents
chama/v/auth
#Exclude the netbeans folders
accounting/nbproject
chama/nbproject
documentation/nbproject
accounting/nbproject
carpark/nbproject
outlook/nbproject
schema/nbproject/
# My local tests folder
test/