#Ignore all images
*.jpg
*.png
*.xlsx
*.docx
*.pdf
#Node modules exception
outlook/v/node/
#exclude js files from the commits.
*.js
*.env
#Exclude versioning files
outlook/v_2022_07_06
chama/v_2022_07_21
#exclude individual folders
svg/   
carpark/ 
metavisuo/
pictures/
documentation/
accounting/
carpark/tsc
carpack/
rest_api_php/
.vscode/
dotenv/
convinience_shop/
#chama speciic folders
chama/v/documents
#Exceptions in the twilio folder
chama/v/twilio/
#Exceptions to the PHP Mailer
chama/v/mailer/vendor
chama/v/mailer/*.lock
chama/v/mailer/*.json
#Exclude the netbeans folders
accounting/nbproject
chama/nbproject
documentation/nbproject
accounting/nbproject
carpark/nbproject
outlook/nbproject
schema/nbproject/
rentize/nbproject
# My local tests folder
test/
/tracker/nbproject/private/
tracker/v/auth
chama/v/twilio/.env
*const.php
/mutall_carpack/nbproject/private/
/curriculum_vitae/nbproject/private/
/ranix_carpark/nbproject/private/
/ranics/nbproject/private/
/schema/v/mailer
/schema/v/twilio/twilio.php
