/*This settings are for projection purpose.*/
html{
    font-size: 30px;
    font-weight: bold;
}
label{
    display: block;
}
button{
    display: block;
    width:78px;
    height:50px;
    font-size: 38px;
}
[type = 'radio']{
    width: 30px;
    height:30px;
}